html, body {
  height: auto;
}
*, *::before, *::after {
  box-sizing: border-box;
}

.App-container {
  margin: 40px auto;
  padding: 0 20px;
  max-width: 780px;
}

.ui.menu {
  margin-bottom: 24px;
}

form {
  margin-top: 40px;
}

.input, .input--search, textarea {
  margin-bottom: 18px;
  padding: 8px;
  display: inline-block;
  margin-right: 10px!important;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  -webkit-tap-highlight-color: transparent;
}

textarea {
  max-width: 640px;
  max-height: 250px;
}

.label {
  margin-right: 20px;
}

.list {
  position: relative;
}

.list .content.name {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.list .item {
  transition: .25s linear;
  cursor: pointer;
}

.list .item:hover {
  background: #ddd;
}

/*

  <span className="ingredient__name">{ name }</span>
  <span className="ingredient__price">{ price }</span>
  <span className="ingredient__allergens">{ allergens }</span>

*/

.list .item span {
  display: inline-block;
}

.list .ingredient__name {
  width: 40%;
}

.list .ingredient__price {
  width: 10%;
}

.list .ingredient__allergens {
  width: 30%;
  color: #aaa;
}

.submit-button {
  margin-top: 24px!important;
}
